{% extends 'base.html.twig' %}

{% block title %}Randonnee{% endblock %}

{% block content %}
    <h1>Randonnee</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ randonnee.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ randonnee.titre }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ randonnee.description }}</td>
            </tr>
            <tr>
                <th>Duree</th>
                <td>{{ randonnee.duree }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ randonnee.date ? randonnee.date|date('Y-m-d') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('randonnee_index') }}">back to list</a>

    <a href="{{ path('randonnee_edit', {'id': randonnee.id}) }}">edit</a>

    {{ include('randonnee/_delete_form.html.twig') }}
{% endblock %}
